Cython
wget
numpy<=1.23.5
pandas
matplotlib
seaborn>=0.10.0
scipy>=1.6.0
statsmodels>=0.14.0
scikit-learn==1.2.2
toad
scorecardpy
ortools==9.4.1874
ropwr>=0.4.0
optbinning
category-encoders
sklearn_pandas
sklearn2pmml
pypmml
joblib>=0.12
six>=1.15.0
openpyxl==3.0.7