wget
six>=1.15.0
numpy==1.22.2
pandas==1.5.3
matplotlib
openpyxl==3.0.7
scikit-learn>=1.0.2
scipy>=1.6.0
toad
scorecardpy
ortools==9.4.1874
ropwr>=0.4.0
optbinning
category-encoders
sklearn_pandas
sklearn2pmml
