Cython
wget
numpy<=1.23.5,>1.23.1
pandas
matplotlib
seaborn>=0.10.0
scipy>=1.6.0
statsmodels<0.14,>=0.13.2
scikit-learn
toad
scorecardpy
ortools>=9.5.0,<9.8.0
ropwr>=0.4.0
optbinning
category-encoders
sklearn_pandas
sklearn2pmml
pypmml
joblib>=0.12
six>=1.15.0
openpyxl==3.0.7